<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="cordova.js"></script>

    <script src="js/app1.js"></script>
    <script src="js/controllers1.js"></script>
    <script src="js/services1.js"></script>

    <script id="modal.html" type="text/ng-template">
      <div class="modal">

        <div class="bar bar-header bar-calm">
          <button class="button" ng-click="closeModal()">back</button>
          <h1 class="title">Add Item</h1>
        </div>
        <br />
        <br />
        <form ng-submit="AddItem(data)">
          <div class="list">
            <div class="list list-inset">
              <label class="item item-input">
                <input type="text" placeholder="ToDo Item" ng-model="data.newItem">
              </label>
            </div>
            <button class="button button-block button-positive" type="submit">
              Add Item
            </button>
          </div>
        </form>
      </div>
    </script>

  </head>

  <body ng-app="starter">

  <ion-pane>

    <ion-side-menus>
      <!-- Left menu -->
      <ion-side-menu side="left">
        <ion-header-bar class="bar-dark">
          <h1 class="title">Projects</h1>
        </ion-header-bar>

      </ion-side-menu>
      <!-- Left menu -->
      <ion-side-menu side="right" width="100" is-enabled="false">
        <ion-header-bar class="bar-dark">
          <h1 class="title">Projects1</h1>
        </ion-header-bar>
      </ion-side-menu>

      <!-- Center content -->
      <ion-side-menu-content drag-content="true">
        <!--content header-->
        <ion-header-bar class="bar-dark">
          <button menu-toggle="left" class="button a icon ion-navicon"></button>
          <h1 class="title">Todo</h1>
          <button class="button a " ng-click="openModal()">Add</button>
        </ion-header-bar>
        <!--content-->
        <ion-content>
         <!-- <ion-list ng-controller="ToDoListCtrl">
            <ion-item ng-repeat="item in toDoListItems" class="item-thumbnail-left">{{item.task}}</ion-item>
          </ion-list>-->
          <ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
            <div style="width: 5000px; height: 5000px; background: url('https://upload.wikimedia.org/wikipedia/commons/a/ad/Europe_geological_map-en.jpg') repeat"></div>
          </ion-scroll>
        </ion-content>
      </ion-side-menu-content>
    </ion-side-menus>

    <div class="bar bar-footer bar-dark">
      <button class="button a">Left</button>
      <div class="title"> <button ng-click="captureVideo();" class="button button-clear a icon ion-camera"></button></div>
      <button class="button a">Right</button>
    </div>
  </ion-pane>

  </body>
</html>
